.header-default {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 588px;
    justify-content: space-between;
    height: 61px;
}

.users-p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 61px;
    /* identical to box height */
    letter-spacing: 0.2px;
    color: #000000;
}

.space-button {
    max-width: 185px;
    width: 100%;
}

@media only screen and (max-width: 640px) {

    .users-p {
        font-size: 34px !important;
    }
}